<div class="topbar">
  <a href="#" id="shop_button"><img src="/src/assets/images/Topbar_Buttons/Shop_Button.png" class = "icon">Shop</a>
  <div id="search_wrapper">
      <input type="text" placeholder="Search music, artists..." id="search_bar">
      <div id="search_dropdown" class="search-dropdown"></div>
  </div>
  <button id = "toggle_button">App Mode</button>
  <a href="#" id="ledger_button"><img src="/src/assets/images/Topbar_Buttons/Explore_Button.png"  class = "icon">Ledger</a>
  <a href="#" id="notification_button"><img src="/src/assets/images/Topbar_Buttons/Notification_Button.png"  class = "icon"></a>
  
  <div id="profile_wrapper">
    <a href="#" id="profile_picture">
      <img id="profile_picture_img" src="">
    </a>
    <div id="profile_dropdown" class="profile-dropdown hidden">
      <a href="#" id="profile_option">Profile</a>
      <a href="#" id="signout_option">Sign Out</a>
    </div>
  </div>

</div>