.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 18%;
  height: 100vh;
  background: #111;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1% 1% 0;
  box-sizing: border-box;
}

.app_info {
  align-items: center;
  gap: 20px;
  align-self: center;
  margin-bottom: 40px;
}

.logo,
.app_name {
  height: 45px;
}

.sidebar_navigation_above,
.sidebar_navigation_bottom {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
}

.sidebar_navigation_above a,
.sidebar_navigation_bottom a {
  display: flex;
  align-items: center;
  gap: 12px;

  color: #bbb;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  transition: 0.2s;
}

.sidebar_navigation_above a:hover,
.sidebar_navigation_bottom a:hover {
  color: #fff;
}

.sidebar_navigation_above img,
.sidebar_navigation_bottom img {
  width: 20px;
  height: 20px;
}
