<div class="sidebar">
    <div class="app_info">
        <img src="/src/assets/images/Logo.png" id="logo">
        <img src="/src/assets/images/Acoustica.png" id="app_name">
    </div>

    <div class="sidebar_navigation_top">
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Home_Button.png" id="home_button">Home</a>
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Library_Button.png" id="library_button">Library</a>
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Playlist_Button.png" id="playlist_button">Playlists</a>
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Artist_Button.png" id="artist_button">Artists</a>
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Community_Button.png" id="community_button">Community</a>
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Subscription_Button.png" id="subscription_button">Subscriptions</a>
    </div>

    <div class="sidebar_navigation_bottom">
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Report_Button.png" id="report_button">Report</a>
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Settings_Button.png" id="settings_button">Settings</a>
        <a href="#" id="about_us_button">About us</a>
    </div>
</div>