<div class="sidebar">
    <div class="app_info">
        <span><img src="/src/assets/images/Logo.png" class="logo"></span>
        <span><img src="/src/assets/images/Acoustica.png" class="app_name"></span>
    </div>

    <div class="sidebar_navigation_above">
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Home_Button.png">Home</a>
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Library_Button.png">Library</a>
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Playlist_Button.png">Playlists</a>
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Artist_Button.png">Artists</a>
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Community_Button.png">Community</a>
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Subscription_Button.png">Subscriptions</a>
    </div>

    <div class="sidebar_navigation_bottom">
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Report_Button.png">Report</a>
        <a href="#"><img src="/src/assets/images/Sidebar_Buttons/Settings_Button.png">Settings</a>
        <a href="#" style="font-size: 18px;">About us</a>
    </div>
</div>