<div class = "sidebar">
    <div class = "logo">
        <img src = "/src/assets/images/Logo.png">
        <span>Acoustica</span>
    </div>

    <div class = "sidebar_navigation">
        <a href="#"><i>🏠</i> Home</a>
        <a href="#"><i>📚</i> Library</a>
        <a href="#"><i>🎵</i> Playlists</a>
        <a href="#"><i>🎤</i> Artists</a>
        <a href="#"><i>👥</i> Community</a>
        <a href="#"><i>👑</i> Subscriptions</a>
        <a href="#">⚠ Report</a>
        <a href="#">⚙ Settings</a>
        <a href="#">About us</a>
    </div>
</div>