@import url('/src/components/sidebar/sidebar.css');
@import url('/src/components/topbar/topbar.css');
@import url('/src/components/music_player/music_player.css');

@import url('/src/pages/auth/auth.css');
@import url('/src/pages/music/upload_song.css');

html, body {
  -webkit-user-select: none; 
  -ms-user-select: none;     
  user-select: none;         
}

input, 
textarea, 
[contenteditable="true"] {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #000000;
  color: white;
}

#app {
  min-height: 100vh;
  display: flex;
}

#content {
  position: fixed;
  top: 10vh;
  left: 20vw;
  width: 80vw;
  height: 78vh;
}

.hidden {
  display: none;
}