@import url('/src/components/sidebar/sidebar.css');
@import url('/src/components/topbar/topbar.css');
@import url('/src/components/music_player/music_player.css');

@import url('/src/pages/user/user.css');
@import url('/src/pages/auth/auth.css');
@import url('/src/pages/music/music.css');

@import url('/src/components/scrollbar/scrollbar.css');
@import url('/src/pages/profile/private/my_profile.css');

html, body {
  -webkit-user-select: none; 
  -ms-user-select: none;     
  user-select: none;         
}

input, 
textarea, 
[contenteditable="true"] {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#app {
  min-height: 100vh;
  position: relative; 
}

#content {
  padding: 1rem;
  margin-top: 10vh;
  margin-left: 20vw;
  width: 100%;
}

.hidden {
  display: none;
}

.icon {
  filter: var(--icon-filter);
}