@import url('@/pages/auth/auth.css');

html, body {
  -webkit-user-select: none; 
  -ms-user-select: none;     
  user-select: none;         
}

input, 
textarea, 
[contenteditable="true"] {
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

img {
  -webkit-user-drag: none;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#app {
  min-height: 100vh;
  position: relative; 
}

#content {
  position: fixed;
  top: 10vh;
  left: 21vw;
  width: 76vw;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  padding: 1rem 1vw;
  background-color: var(--content-bg);
  border-radius: 1vh;
}

.hidden {
  display: none;
}

.icon {
  filter: var(--icon-filter);
}