body:has(.auth-container)::-webkit-scrollbar {
    width: 9px;
    background-color: transparent;
}

body:has(.auth-container)::-webkit-scrollbar-track {
    background: transparent !important;
    margin-block: 5px;
}

body:has(.auth-container)::-webkit-scrollbar-thumb {
    background: #85ada6;
    border-radius: 3px;
    border: 2px solid transparent;
    background-clip: content-box;
}

body:has(.auth-container)::-webkit-scrollbar-thumb:hover {
    background: #516965;
    border-radius: 3px;
    border: 2px solid transparent;
    background-clip: content-box;
}


/*---------------------------------Dashboard--------------------------------------------------------------------------*/
/*--Comming soon  :) --*/