<div class="music_player">
    <img src="/src/assets/images/Profile_Picture.jpg" id="song_cover_pic">

    <div class="song_info">
        <a href="#"><p id="song_name">Castle of glass</p></a>
        <div id="artist_name"><a href="#"><p>Linkin Park</p></a></div>
    </div>

    <div class="music_control">
        <div class="music_control_top">
            <img src="/src/assets/images/Musicbar_Buttons/Play_Previous_Button.png" id="play_previous_button">
            <img src="/src/assets/images/Musicbar_Buttons/Play_Button.png" id="play_button">
            <img src="/src/assets/images/Musicbar_Buttons/Play_Next_Button.png" id="play_next_button">
        </div>
        
        <div class="music_control_bottom">
            <p id="play_time"></p>
            <div id="progress_bar"></div>
            <p id="total_time"></p>
        </div>
    </div>

    <img src="/src/assets/images/Musicbar_Buttons/Lyrics_Button.png" id="lyrics_button">
    <img src="/src/assets/images/Musicbar_Buttons/Like_Button.png" id="like_button">
    <img src="/src/assets/images/Musicbar_Buttons/Full_Screen_Button.png" id="full_screen_button">
</div>