<div class="music_player">
    <img src="" id="cover_picture">

    <div class="song_info">
        <div id="song_name"><a href="#"></a></div>
        <div id="artist_name"><a href="#"></a></div>
    </div>

    <div class="music_control1">
        <div class="music_control1_top">
            <img src="/src/assets/images/Musicbar_Buttons/Play_Previous_Button.png" id="play_previous_button">
            <img src="/src/assets/images/Musicbar_Buttons/Play_Button.png" id="play_pause_button">
            <img src="/src/assets/images/Musicbar_Buttons/Play_Next_Button.png" id="play_next_button">
        </div>

        <div class="music_control1_bottom">
            <p id="play_time">...</p>
            <div id="progress_container">
                <div class="progress_track">
                    <div id="progress_bar">
                        <div id="progress_knob"></div>
                    </div>
                </div>
            </div>
            <p id="total_time">...</p>
        </div>
    </div>

    <div class="music_control2">
        <img src="/src/assets/images/Musicbar_Buttons/Lyrics_Button.png" id="lyrics_button">
        <img src="/src/assets/images/Musicbar_Buttons/Like_Button.png" id="like_button">
        <img src="/src/assets/images/Musicbar_Buttons/Full_Screen_Button.png" id="full_screen_button">
    </div>
</div>