<div class="sidebar">
    <div class="app_info">
        <img src="/src/assets/images/Deco/Logo.png" id="logo">
        <img src="/src/assets/images/Deco/Acoustica1.png" id="app_name">
    </div>

    <div class="sidebar_navigation_top">
        <a href="#" id="home_button"><img src="/src/assets/images/Sidebar_Buttons/Home_Button.png">Home</a>
        <a href="#" id="library_button"><img src="/src/assets/images/Sidebar_Buttons/Library_Button.png">Library</a>
        <a href="#" id="album_button"><img src="/src/assets/images/Sidebar_Buttons/Playlist_Button.png">Albums</a>
        <a href="#" id="song_button"><img src="/src/assets/images/Sidebar_Buttons/Playlist_Button.png">Songs</a>
        <a href="/music/create-album" id="create_album_button"><img src="/src/assets/images/Sidebar_Buttons/Playlist_Button.png">Create album</a>
        <a href="/music/upload-song" id="upload_song_button"><img src="/src/assets/images/Sidebar_Buttons/Playlist_Button.png">Upload song</a>
    </div>

    <div class="sidebar_navigation_bottom">
        <a href="#" id="report_button"><img src="/src/assets/images/Sidebar_Buttons/Report_Button.png">Report</a>
        <a href="#" id="settings_button"><img src="/src/assets/images/Sidebar_Buttons/Settings_Button.png">Settings</a>
        <a href="#" id="about_us_button">About us</a>
    </div>
</div>