<div class="sidebar">
    <div class="app_info">
        <img src="/src/assets/images/Deco/Logo.png" id="logo">
        <img src="/src/assets/images/Deco/Acoustica1.png" id="app_name">
    </div>

    <div class="sidebar_navigation_top">
        <a href="/dashboard" id="home_button"><img src="/src/assets/images/Sidebar_Buttons/Home_Button.png" class = "icon">Home</a>
        <a href="/dashboard" id="discography_button"><img src="/src/assets/images/Sidebar_Buttons/Home_Button.png" class = "icon">Discography</a>
        <a href="/music/create-album" id="create_album_button"><img src="/src/assets/images/Sidebar_Buttons/Playlist_Button.png" class = "icon">Create album</a>
        <a href="/music/upload-song" id="upload_song_button"><img src="/src/assets/images/Sidebar_Buttons/Playlist_Button.png" class = "icon">Upload song</a>
        <a href="/dashboard" id="draft_button"><img src="/src/assets/images/Sidebar_Buttons/Home_Button.png" class = "icon">Drafts</a>
        <a href="/dashboard" id="approval_status_button"><img src="/src/assets/images/Sidebar_Buttons/Home_Button.png" class = "icon">Approval status</a>
    </div>

    <div class="sidebar_navigation_bottom">
        <a href="#" id="report_button"><img src="/src/assets/images/Sidebar_Buttons/Report_Button.png" class = "icon">Report</a>
        <a href="#" id="settings_button"><img src="/src/assets/images/Sidebar_Buttons/Settings_Button.png" class = "icon">Settings</a>
        <a href="#" id="about_us_button">About us</a>
    </div>
</div>