<div class="topbar">
  <a href="#" id="shop_button"><img src="/src/assets/images/Topbar_Buttons/Shop_Button.png" class = "icon">Shop</a>
  <input type="text" placeholder="Search music, artists..." id = "search_bar">
  <a href="#" id="explore_button"><img src="/src/assets/images/Topbar_Buttons/Explore_Button.png"  class = "icon">Explore</a>
  <button id = "toggle_button">App Mode</button>
  <a href="#" id="notification_button"><img src="/src/assets/images/Topbar_Buttons/Notification_Button.png"  class = "icon"></a>
  <a href="#" id="profile_picture"><img src="/src/assets/images/Profile_Picture.jpg"></a>
</div>
