.topbar {
  position: fixed;
  top: 0;
  left: 20%;
  height: 8%;
  width: 78%;
  background: #ba9b9b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 1% 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
  box-sizing: border-box;
  margin-bottom: 4%;
}

.topbar-left a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.topbar input:focus {
  box-shadow: 0 0 6px #1db954;
}

.topbar a {
  display: flex;
  align-items: center;
  gap: 0.6%;
  color: #bbb;
  text-decoration: none;
  font-weight: bold;
  font-size: 1%;
  transition: 0.2s;
}

.topbar a:hover {
  color: #fff;
}

.topbar img {
  width: 1.5%;
  height: 1.5%;
}

.profile_picture {
  width: 2%;
  height: 2%;
  border-radius: 50%;
  object-fit: cover;
}
